.btn {
  background-color: #9c61fb;
  font-size: 20px;
}

.nav-contents .nav-link,
.navbar-brand {
  color: white;
}

.search-col {
  border: 1px solid;
  border-radius: 5px;
  margin: 2px;
}

.map-container {
  height: 80vh;
}
