.btn {
  background-color: #9c61fb;
  font-size: 20px;
}

.nav-contents .nav-link,
.navbar-brand {
  color: white;
}

.nav-contents {
  background-color: #041a64;
}
.search-col {
}

.map-container {
  height: 80vh;
  border-color: #ffc300;
  border: 1px solid #ffc300;
}

.App {
  background-color: #ebebeb;
}

#filterButton {
  background-color: #041a64;
  border-color: #ffc300;
}

#navlink {
}
